.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#quote-box{
    margin: auto;
    background-color: #fff;
    width: 40%;
    max-height: fit-content;
    border-radius: 2px;
    padding: 20px;
    font-family: "Lora", serif;
    overflow: hidden;
    border-radius: 10px;
}

#text{
    width: 100%;
    letter-spacing: 0.1px;
    margin-top: 30px;
    opacity: 0;
    animation: visible 1s ease-in-out forwards;
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#text.visible{
    animation: visible 1s ease-in-out forwards;
}

#author{
    text-align: center;
}

.buttons{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 10px;
}

#new-quote,
.tweet-quote{
    cursor: pointer;
    background-color: #BABFD1;
    border: none;
    border-radius: 3px;
    font-size: 16px
}

.twitterLogo{
    width: 30px;
    height:  30px;
    padding-top: 5px;
}

#new-quote {
    width: 150px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
    transition: all 0.2s;
}

#new-quote:active,
#new-quote.is-loading {
    background-color: #606885;
}

@media screen and (max-width: 700px) {
    #quote-box{
        width: 80%;
    }
}

.footer{
    font-weight: 300;
    color: #252c3a;
}